<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poney Club</title>
    <link rel="stylesheet" href="static/accueil.css">
</head>
<body>
    <header>
        <div class="logo">Logo</div>
        <nav>
            <a href="#">Nos tarifs</a>
            <a href="#">Notre planning</a>
            <a href="#">Nos poneys</a>
            <a href="#">Actualités</a>
            <a href="#">Témoignages</a>
            <a href="#">Contact</a>
        </nav>
        <div class="boutons-log">
            <button class="sign-in">Sign in</button>
            <button class="register">Register</button>
        </div>
    </header>
    <main>
        <div class="poney"></div>
        <div class="content">
            <div class="box">Photo Club</div>
            <div class="box">Description</div>
            <div class="box deuxieme-ligne">Plus d'informations</div>
        </div>
    </main>
    <footer>
        <p>Clémence Bocquet - Ophélie Valin - Nathan Randriantsoa</p>
    </footer>
</body>
</html>
